/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $light-gray;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}



.default {
  background-color: $cyan;
  &:hover{
    @include lighten-button($cyan);
  }
}

.error {
  background-color: #e4757a;
  &:hover{
    @include lighten-button( #e4757a);
  }
}

.info {
  background-color: $light-purple;
  &:hover{
    @include lighten-button($light-purple);
  }
}

.success {
  background-color: #63cc82;
  &:hover{
    @include lighten-button(#63cc82);
  }
}

.warning {
  background-color: #fd7856;
  &:hover{
    @include lighten-button(#fd7856);
  }
}

